<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/newblog.css">
</head>
<body>
    <form class="form-container" method="POST">
        <input type="text" name="title" id="title" required>
        <input type="date" name="date" id="date">
        <textarea rows="5" cols="50" name="blogcont" id="blogcont">
          At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
          </textarea>
        <input type="submit" formaction="/profile/sucess">
    </form>
</body>
</html>