<!DOCTYPE html>
<html lang="en">
<%- include partials/header %>
<body>
  <div class="main-cont">
    <form class="form-holder">
      <div class="form-group row">
        <label class="col-4" for="blog-title">Blog Title</label> 
        <div class="col-8">
          <input id="blog-title" name="blog-title" placeholder="Blog Title" type="text" class="form-control" required="required">
        </div>
      </div>
      <div class="form-group row">
        <label for="blog-content" class="col-4 col-form-label">Blog Content</label> 
        <div class="col-8">
          <textarea id="blog-content" name="blog-content" cols="40" rows="5" class="form-control" required="required"></textarea>
        </div>
      </div> 
      <div class="form-group row">
        <div class="offset-4 col-8">
          <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  <%= user.name %>
  </div>
</body>
</html>