<!DOCTYPE html>
<html lang="en">
<%- include partials/header %>
<body>
  <div class="main-cont">
      <a href="/" class="btn btn-secondary">Logout</a>
    <div>
      <h1 name='userna' ><%= user.username %></h1>
    </div>
    <a href="/profile/newblog"><button>NEW BLOG</button></a>
    <dl>
      <% bloglists.forEach(function(bloglists){ %>
        <dt><%= blog1.username %></dt>
        <dd><%= blog1.title %></dd>
      <% }) %>
    </dl>
  </div>
</body>
</html>