<!DOCTYPE html>
<html lang="en">
  <%- include partials/header %>
<body>
  <div class="main-cont">
    <a href="/"><div class="exit"><p class="signexit">< EXIT</p></div></a>
    <p class="em_add">Your are now registered, <%= emaill %></p> 
  </div>
</body>
</html>