<!DOCTYPE html>
<html lang="en">
    <%- include partials/header %>
<body>
  Blog Posted
</body>
<script>


var delayInMilliseconds = 1000; //1 second

setTimeout(function() {
  window.location = "/profile"
}, delayInMilliseconds);

  
</script>
</html>