<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div>
    <div class="blog-container">
      <h2 class="title"><%= blog.title %></h2>
      <p class="date"><%= blog.date %></p>
      <p class="username"><%= blog.username %></p>
      <p class="content"><%= blog.blog_cont %></p>
      <a href="/profile"><button>Go Back</button></a>
    </div>
    <div>
      <a href="/profile/:slug/deleted"><button>Delete</button></a>
    </div>
  </div>
</body>
</html>