<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div>
      <% blog.slice().reverse().forEach(function(bloginfo){ %>
        <div class="blog-container">
        <h2 class="title"><%= bloginfo.title %></h2>
        <p class="date"><%= bloginfo.date %></p>
        <p class="username"><%= bloginfo.username %></p>
        <p class="content"><%= bloginfo.blog_cont %></p>
        <a href="/profile">Read More</a>
        </div>
      <% }) %>
  </div>
</body>
</html>