<!DOCTYPE html>
<html lang="en">
    <%- include partials/header %>
<body>
  <div class="main-cont">
    <form class="form-container" method="POST">
      <div class="inputcont">
        <p>Title</p>
        <input type="text" name="title" id="title" required>
      </div>
      <div class="inputcont">
        <p>Blog Content</p>
        <textarea rows="5" cols="50" name="blogcont" id="blogcont"></textarea>
      </div>
      <div class="inputcont">
        <input type="submit" formaction="/newblog/sucess">
      </div>
    </form>
    <div class="inputcont">
      <a href="/profile"><button>Cancel</button></a>
    </div>
  </div>
    
</body>
</html>