@import url('./template.css');

fieldset{
 border: 0px;
}

/* #logs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
} */
.divbann{
  display: flex;
}
.neon{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  font-family: 'Share Tech Mono', monospace;
  font-size:130px;
  color: #228ce2;
  font-weight: 400;
  text-shadow: 1px 0px 4px #228ce2, 2px 0px 4px #228ce2, 3px 0px 4px #228ce2, 2px 0px 3px #2610a1, 2px 3px 15px #2610a1, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #2610a1,40px 0vw 200px #2610a1;
}

.flicker-slow{
  animation: flicker 3s linear infinite;
}

.flicker-fast{
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}
@media screen and (max-width: 500px) {
  .neon{
    font-size: 25vw;
  }
}



/* .bannern{
  font-family: 'Share Tech Mono', monospace;
  font-size: 100px;
  color: #fff;
  -webkit-animation: flicker 1s linear infinite;
  -moz-animation: flicker 1s linear infinite;
  animation: flicker 1s linear infinite;
}
@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		text-shadow: 0 0 0px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 10px #0045c5, 0 0 10px #0045c5, 0 0 10px #0045c5, 0 0 10px #0045c5, 0 0 10px #0045c5;
    opacity: .50;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}
.banner{
  font-family: 'Share Tech Mono', monospace;
  font-size: 100px;
  color: #fff;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0045c5, 0 0 70px #0045c5, 0 0 80px #0045c5, 0 0 100px #0045c5, 0 0 150px #0045c5;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0045c5, 0 0 35px #0045c5, 0 0 40px #0045c5, 0 0 50px #0045c5, 0 0 75px #0045c5;
  }
} */
.login{
  display: block;
  opacity: 1;
  transition: 2s;
}
.registration{
  display: block;
  opacity: 0;
  transition: 2s;
}
.login2{
  display: none;
  opacity: 0;
  transition: 2s;
}
/* .registration2{
  display: block;
  opacity: 1;
  transition: 2s;
} */
.regbutt{
  color: white;
}
.logbutt{
  color: white;
}
body {
  background: #333;
}
.submitdiv{
  margin: auto;
  display: flex;
  justify-content: center;
}
.subreg{
  color: white;
  width: auto;
}
.subreg,.subreg2,.subreg3:hover{
  cursor: pointer;
}
.subreg2{
  color: red;
  width: auto;
}
.subreg3{
  color: rgb(57, 127, 218);
  width: auto;
  text-shadow: 1px 0px 4px #228ce2, 2px 0px 4px #228ce2, 3px 0px 4px #228ce2, 2px 0px 3px #2610a1, 2px 3px 15px #2610a1, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #2610a1,40px 0vw 200px #2610a1;
}

.checkboxdiv{
  top: 30px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.cklabel{
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Saira', sans-serif;
}
.checkbx{
  width:20px;
  height:20px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
  margin-left: 10px;
}
.group {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative;
}

label {
  position: absolute;
  top: 36.6666666667px;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Saira', sans-serif;
  cursor: text;
  transition: 0.25s ease;
}

input {
  display: block;
  width: 100%;
  padding-top: 36.6666666667px;
  border: none;
  border-radius: 0;
  color: white;
  background: rgba(51, 51, 51, 0);
  font-size: 36.6666666667px;
  transition: 0.3s ease;
  font-family: 'Saira', sans-serif;
}
input:valid ~ label {
  top: 0;
  font-family: 'Saira', sans-serif;
  color: rgba(255, 255, 255, 0.5);
}
input:focus {
  outline: none;
}
input:focus ~ label {
  top: 0;
  font-family: 'Saira', sans-serif;
  color: #2196f3;
}
input:focus ~ .bar:before {
  transform: translateX(0);
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px rgb(78, 78, 78) inset;
  -webkit-text-fill-color: white !important;
}
.bar {
  background: rgba(255, 255, 255, 0.5);
  content: "";
  width: 100%;
  height: 3.6666666667px;
  transition: 0.3s ease;
  position: relative;
}
.bar:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 150%;
  background: #2196f3;
  transform: translateX(-100%);
}

::selection {
  background: rgba(33, 150, 243, 0.3);
}

#sub{
  font-family: 'Saira', sans-serif;
}

#sub:hover{
  color: rgb(201, 69, 69);
}

.reg{
  color: white;
}

