@import url('./template.css');

.loading{
  height: 170px;
  width: 170px;
  background-image: url('../images/Spinner-0.5s-200px\ \(2\).gif');
}

body{
  background-color: black;
  color: white;
  font-family: 'Share Tech Mono', monospace;
}

.main-cont{
  background-image: none;
}

.loading-holder{
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

div{
  margin: auto;
}