@import url('./template.css');
body{
  background-color: black;
  color: white;
  font-family: 'Share Tech Mono', monospace;
}
h2{
  font-size: 20px;
}
.main-cont{
  background-image: none;
}
.blog-container{
  width: 600px;
}