/* @import url('./template.css');
body{
  background-color: black;
  color: white;
  font-family: 'Share Tech Mono', monospace;
}
h1{
  font-size: 40px;
}
.main-cont{
  background-image: none;
  height: 100vh;
}
.blog-container{
  width: 600px;
  height: auto;
} */


@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.main-cont{
  display: flex;
  justify-content: center;
  background-color: black;
  overflow-x: hidden;
  height: 100vh;
  color: white;
}
bo
.form-container{
  width: 60vw;
}
/* custom styles */
label {
  display: block;
}
.blog-container{
  padding: 20px;
  height: auto;
  width: 400px;
  border: 1px solid white;
  margin: 20px;
  border-radius: 25px;
}
.title, .date, .username, .content{
  color: white;
}